## You have been hired by a rookie movie producer to help him decide what type of movies to produce and which actors to cast. You have to back your recommendations based on thorough analysis of the data he shared with you which has the list of 3000 movies and the corresponding details.

## As a data scientist, you have to first explore the data and check its sanity.

## Further, you have to answer the following questions:
1. ### <b> Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.</b>
2. ### <b>This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)? </b>
3. ### <b> Find out the unique genres of movies in this dataset.</b>
4. ### <b> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI? </b>
5. ### <b> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>
6. ### <b>Top 3 directors prefer which actors the most? </b>

# Data Exploration

In [1]:
#Import package
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Loading the dataset
file_path='/content/drive/MyDrive/Copy of imdb_data.csv'
imdb_data=pd.read_csv(file_path)

In [4]:
# analysing the feature of data
imdb_data.head()

   id  ...   revenue
0   1  ...  12314651
1   2  ...  95149435
2   3  ...  13092000
3   4  ...  16000000
4   5  ...   3923970

[5 rows x 23 columns]

In [5]:
# Cheaking the data types of cokumns, total number of rows i.e. entries and non null count
imdb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [6]:
# fatching only require column
imdb_data=imdb_data[['budget','genres','original_language','original_title','cast','crew','revenue']]

In [7]:
imdb_data.head()

     budget  ...   revenue
0  14000000  ...  12314651
1  40000000  ...  95149435
2   3300000  ...  13092000
3   1200000  ...  16000000
4         0  ...   3923970

[5 rows x 7 columns]

In [8]:
imdb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             3000 non-null   int64
 1   genres             2993 non-null   object
 2   original_language  3000 non-null   object
 3   original_title     3000 non-null   object
 4   cast               2987 non-null   object
 5   crew               2984 non-null   object
 6   revenue            3000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 164.2+ KB

In [9]:
# Creating copy of original dataset and dropping null values
imdb_data1 =imdb_data.copy()
imdb_data1.dropna(inplace=True)
imdb_data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2978 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             2978 non-null   int64
 1   genres             2978 non-null   object
 2   original_language  2978 non-null   object
 3   original_title     2978 non-null   object
 4   cast               2978 non-null   object
 5   crew               2978 non-null   object
 6   revenue            2978 non-null   int64
dtypes: int64(2), object(5)
memory usage: 186.1+ KB

In [10]:
imdb_data1.head()

     budget  ...   revenue
0  14000000  ...  12314651
1  40000000  ...  95149435
2   3300000  ...  13092000
3   1200000  ...  16000000
4         0  ...   3923970

[5 rows x 7 columns]

In [11]:
# Converting the string data into list format for manipulation
def convert_to_str(string):
  return eval(string)

In [12]:
# Converting the non null values in dataset to list using lambda function
imdb_data1.loc[~imdb_data1['genres'].isna(),'genres']=imdb_data1.loc[~imdb_data1['genres'].isna(),'genres'].apply(convert_to_str)

In [13]:
imdb_data1.loc[~imdb_data1['cast'].isna(),'cast']=imdb_data1.loc[~imdb_data1['cast'].isna(),'cast'].apply(convert_to_str)

In [14]:
imdb_data1.loc[~imdb_data1['crew'].isna(),'crew']=imdb_data1.loc[~imdb_data1['crew'].isna(),'crew'].apply(convert_to_str)

In [15]:
# Replacing the error data by median of column
imdb_data1.loc[imdb_data1['budget'] < 1000,'budget']= imdb_data1.loc[imdb_data1['budget'] >= 1000,'budget'].median()
imdb_data1.loc[imdb_data1['revenue'] < 1000,'revenue']= imdb_data1.loc[imdb_data1['revenue'] >= 1000,'revenue'].median()

In [16]:
imdb_data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2978 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             2978 non-null   int64
 1   genres             2978 non-null   object
 2   original_language  2978 non-null   object
 3   original_title     2978 non-null   object
 4   cast               2978 non-null   object
 5   crew               2978 non-null   object
 6   revenue            2978 non-null   int64
dtypes: int64(2), object(5)
memory usage: 186.1+ KB

In [17]:
# Creating profit column
imdb_data1['profit']=imdb_data1['revenue']-imdb_data1['budget']
imdb_data1.head()

     budget  ...    profit
0  14000000  ...  -1685349
1  40000000  ...  55149435
2   3300000  ...   9792000
3   1200000  ...  14800000
4  16000000  ... -12076030

[5 rows x 8 columns]

**1] Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.**

In [18]:
# Obtaining the maximum profit by using mac()
max_profit=imdb_data1['profit'].max()
max_profit

1316249360

In [19]:
# row with maximum profit
max_profit_data=imdb_data1[imdb_data1['profit']==max_profit]
max_profit_data

         budget                          genres  ...     revenue      profit
1761  190000000  [{'id': 28, 'name': 'Action'}]  ...  1506249360  1316249360

[1 rows x 8 columns]

In [ ]:
# crew of a movie profit is maximum
crew_of_max_profit_movie=max_profit_data.iloc[0]['crew']
crew_of_max_profit_movie

In [ ]:
crew_list=[]
for elem in crew_of_max_profit_movie:
  if elem['job']=='Producer':
    print('Producer is :',elem['name'])
    crew_list.append(elem['name'])
  if elem['job']=='Director':
     print('Director is :',elem['name'])
     crew_list.append(elem['name'])

Producer is : Vin Diesel
Producer is : Neal H. Moritz
Director is : James Wan
Producer is : Michael Fottrell
Producer is : Brandon Birtell

In [ ]:
crew_list

['Vin Diesel',
 'Neal H. Moritz',
 'James Wan',
 'Michael Fottrell',
 'Brandon Birtell']

In [ ]:
# Cast of movie where profit is maximum
cast_of_max_profit_movie=max_profit_data.iloc[0]['cast']
cast_of_max_profit_movie

In [ ]:
cast_list=[]
for elem1 in cast_of_max_profit_movie:
  cast_list.append(elem1['name'])

In [ ]:
cast_list

**2] This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)?**

In [ ]:
# Creating copy of original dataset for next problem 
imdb_data_for_roi=imdb_data1.copy()

In [ ]:
imdb_data_for_roi=imdb_data_for_roi[['budget','revenue','original_language']]
imdb_data_for_roi.head()

     budget   revenue original_language
0  14000000  12314651                en
1  40000000  95149435                en
2   3300000  13092000                en
3   1200000  16000000                hi
4  16000000   3923970                ko

In [ ]:
# creating new column of ROI 
imdb_data_for_roi['ROI']=100*imdb_data_for_roi['revenue'] / imdb_data_for_roi['budget']
imdb_data_for_roi.head()

     budget   revenue original_language          ROI
0  14000000  12314651                en    87.961793
1  40000000  95149435                en   237.873588
2   3300000  13092000                en   396.727273
3   1200000  16000000                hi  1333.333333
4  16000000   3923970                ko    24.524812

In [ ]:
# column with maximum ROI
max_ROI=imdb_data_for_roi['ROI'].max()
imdb_data_for_max_roi=imdb_data_for_roi[imdb_data_for_roi['ROI']==max_ROI]

In [ ]:
# Original language of movie which has given maximum ROI
language_of_highest_ROI_movie= imdb_data_for_max_roi.iloc[0]['original_language']
language_of_highest_ROI_movie

'en'

**3] Find out the unique genres of movies in this dataset.**

In [ ]:
imdb_data_for_genres=imdb_data.copy()

In [ ]:

imdb_data_for_genres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             3000 non-null   int64
 1   genres             2993 non-null   object
 2   original_language  3000 non-null   object
 3   original_title     3000 non-null   object
 4   cast               2987 non-null   object
 5   crew               2984 non-null   object
 6   revenue            3000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 164.2+ KB

In [ ]:
# selecting the required column and droping null rows
imdb_data_for_genres=imdb_data_for_genres[['genres']]
imdb_data_for_genres.dropna(inplace=True)
imdb_data_for_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2993 entries, 0 to 2999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   genres  2993 non-null   object
dtypes: object(1)
memory usage: 46.8+ KB

In [ ]:
imdb_data_for_genres.iloc[0]['genres']

"[{'id': 35, 'name': 'Comedy'}]"

In [ ]:
# converting string into list type
def convert_to_list(string):
  return eval(string)

In [ ]:
imdb_data_for_genres.loc[~imdb_data_for_genres['genres'].isna(),'genres']=imdb_data_for_genres.loc[~imdb_data_for_genres['genres'].isna(),'genres'].apply(convert_to_str)
imdb_data_for_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2993 entries, 0 to 2999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   genres  2993 non-null   object
dtypes: object(1)
memory usage: 46.8+ KB

In [ ]:
genres_list=[]
# itereting over column of dataframe using iterrows()
for index,row in imdb_data_for_genres.iterrows():
  genre_list=imdb_data_for_genres.loc[index,'genres']
  for elem in genre_list:
# appending the values in empty list    
    genres_list.append(elem['name'])

genres_list

In [ ]:
#unique values of genres
unique_genres=set(genres_list)
unique_genres

{'Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'TV Movie',
 'Thriller',
 'War',
 'Western'}

**4] Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI?bold text**

In [ ]:
#for the list of producers and directors with highest average roi 
imdb_data_for_movie=imdb_data1.copy()
imdb_data_for_movie.head()

     budget  ...    profit
0  14000000  ...  -1685349
1  40000000  ...  55149435
2   3300000  ...   9792000
3   1200000  ...  14800000
4  16000000  ... -12076030

[5 rows x 8 columns]

In [ ]:
imdb_data_for_movie['ROI']=100*imdb_data_for_movie['revenue'] / imdb_data_for_movie['budget']
imdb_data_for_movie.head()

     budget  ...          ROI
0  14000000  ...    87.961793
1  40000000  ...   237.873588
2   3300000  ...   396.727273
3   1200000  ...  1333.333333
4  16000000  ...    24.524812

[5 rows x 9 columns]

In [ ]:
imdb_data_for_movie=imdb_data_for_movie[['original_title','cast','crew','ROI']]
imdb_data_for_movie.head()

                             original_title  ...          ROI
0                    Hot Tub Time Machine 2  ...    87.961793
1  The Princess Diaries 2: Royal Engagement  ...   237.873588
2                                  Whiplash  ...   396.727273
3                                   Kahaani  ...  1333.333333
4                                      마린보이  ...    24.524812

[5 rows x 4 columns]

In [ ]:
# function to obtain list of producers and directors of movie which has given highest Roi
def get_producer_and_director(crew_list):
  try:
# Empty producer and director list
    producer_list=[]
    director_list=[]
    for k in crew_list:
      if k['job']=='Producer':
         producer_list.append(k['name'])
      if k['job']=='Director':
         director_list.append(k['name'])

    return producer_list, director_list

  except:
    return [], []

In [ ]:
# dataframe with new columns of producer and director using lambda 
imdb_data_for_movie[['Producer','Director']]=imdb_data_for_movie.apply(lambda z: get_producer_and_director(z['crew']),axis=1,result_type='expand')

In [ ]:
imdb_data_for_movie.head()

                             original_title  ...           Director
0                    Hot Tub Time Machine 2  ...       [Steve Pink]
1  The Princess Diaries 2: Royal Engagement  ...   [Garry Marshall]
2                                  Whiplash  ...  [Damien Chazelle]
3                                   Kahaani  ...      [Sujoy Ghosh]
4                                      마린보이  ...   [Jong-seok Yoon]

[5 rows x 6 columns]

In [ ]:
# Creating a empty dataframe with columns
Table=pd.DataFrame(columns=['Movie_title','Producer','Director','ROI'])

In [ ]:
# appending the values to the empty 'Table' dataframe
for ind,rows in imdb_data_for_movie.iterrows():
 
  Table=Table.append({'Movie_title':imdb_data_for_movie.loc[ind,'original_title'],'Producer':imdb_data_for_movie.loc[ind,'Producer'],'Director':imdb_data_for_movie.loc[ind,'Director'],'ROI':imdb_data_for_movie.loc[ind,'ROI']},ignore_index=True)

In [ ]:
# Obtaing highest ROI row using sort_values()
Table=Table.sort_values('ROI',ascending=False)
Table.head()

                    Movie_title  ...           ROI
1225        Paranormal Activity  ...  1.289039e+06
1671    The Blair Witch Project  ...  4.133333e+05
2593                         대호  ...  2.216690e+05
1882             Pink Flamingos  ...  5.000000e+04
814   The Legend of Boggy Creek  ...  2.200000e+04

[5 rows x 4 columns]

**5] Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor.**

In [27]:
imdb_data_for_actor=imdb_data1.copy()
imdb_data_for_actor.head()

     budget  ...    profit
0  14000000  ...  -1685349
1  40000000  ...  55149435
2   3300000  ...   9792000
3   1200000  ...  14800000
4  16000000  ... -12076030

[5 rows x 8 columns]

In [ ]:
#Creating empty list and append the values to it .
actor_list2=[]
for index,rows in imdb_data_for_actor.iterrows():
  for elem2 in imdb_data_for_actor.loc[index,'cast']:
    if type(elem2)==dict:
      actor= elem2['name']
      actor_list2.append(elem2['name'])


actor_list2

In [30]:
# Total actor in the dataset
len(actor_list2)

61773

In [31]:
# Creating dataframe of actors
Actor_table=pd.DataFrame(actor_list2,columns=['Actor_name'])
Actor_table.shape

(61773, 1)

In [32]:
Actor_table.head()

       Actor_name
0     Rob Corddry
1  Craig Robinson
2      Clark Duke
3      Adam Scott
4     Chevy Chase

In [33]:
# actors with most number of movies
Actor_table.value_counts().reset_index().head()

          Actor_name   0
0  Samuel L. Jackson  30
1     Robert De Niro  30
2     Morgan Freeman  27
3       J.K. Simmons  25
4       Bruce Willis  25

Samuel L Jackson and Robert De Niro both acted in same number of movies which greater than any other actor

In [37]:
# Profit and Movie by actors who have done most number of movies
sam_profit=[]
rob_profit=[]
sam_movie=[]
rob_movie=[]
for index,rows in imdb_data_for_actor.iterrows():
  for elem3 in imdb_data_for_actor.loc[index,'cast']:
    if type(elem3)==dict:
      actor_name=elem3['name']
      if 'Samuel L. Jackson' in actor_name:
        sam_profit.append(imdb_data_for_actor.loc[index,'profit'])  
        sam_movie.append(imdb_data_for_actor.loc[index,'original_title'])


      if 'Robert De Niro' in actor_name:
        rob_profit.append(imdb_data_for_actor.loc[index,'profit'])  
        rob_movie.append(imdb_data_for_actor.loc[index,'original_title'])

In [40]:
#genres of actors with most number of movies
gen_sam=[]
for i in range(len(sam_movie)):
  for j in imdb_data_for_actor.loc[i,'genres']:
    gen_sam.append(j['name'])


gen_rob=[]
for i in range(len(rob_movie)):
  for j in imdb_data_for_actor.loc[i,'genres']:
    gen_rob.append(j['name'])

In [42]:
# creating array from list
genre_rob=np.array(gen_rob)
genre_sam=np.array(gen_sam)

In [43]:
# creating a dataframe with single column 
sam_movie1=pd.DataFrame(sam_movie,columns=['Movies'])
rob_movie1=pd.DataFrame(rob_movie,columns=['Movies'])
sam_profit1=pd.DataFrame(sam_profit,columns=['Profit'])
rob_profit1=pd.DataFrame(rob_profit,columns=['Profit'])
sam_genre1=pd.DataFrame(genre_sam,columns=['Genres'])
rob_genre1=pd.DataFrame(genre_rob,columns=['Genres'])

In [45]:
# Concatinating the dataframes for obtaining the whole dataframe
Data_of_Samuel=pd.concat([sam_movie1,sam_genre1,sam_profit1],axis=1)
Data_of_Robert=pd.concat([rob_movie1,rob_genre1,rob_profit1],axis=1)

In [47]:
#Movie of samuel L Jackson 
Data_of_Samuel.sort_values(by='Profit',ascending=False).head()

                                          Movies       Genres        Profit
5                                   The Avengers        Drama  1.299558e+09
24                       Avengers: Age of Ultron       Comedy  1.125404e+09
11                                 Jurassic Park    Adventure  8.571000e+08
3   Star Wars: Episode III - Revenge of the Sith       Family  7.370000e+08
15           Captain America: The Winter Soldier  Documentary  5.447666e+08

In [48]:
#Movie of Robert De Niro 
Data_of_Robert.sort_values(by='Profit',ascending=False).head()

              Movies     Genres       Profit
8   Meet the Parents     Action  275444045.0
16   American Hustle     Action  211171807.0
10          Sleepers  Animation  121615285.0
26      Analyze This     Comedy   96885658.0
29         Backdraft   Thriller   77368585.0